<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.greenwave.crop.CropMapper">

	
	<select id="getCropsFromMemberNoAndFarmNo" parameterType="map" resultType="map">
		SELECT	  C.crop_no AS cropNo
				, C.crop_nickname As cropNickname
				, C.streaming_addr AS streamingAddr
				, C.member_no AS memberNo
				, C.crop_state AS cropState
				, C.buy_date AS buyDate
				, C.end_date AS endDate
				, C.created_date AS createdDate
				, C.dict_no AS dictNo
				, C.farm_no AS farmNo
				, NVL(I.image,"") AS image
		FROM tb_crop AS C
		LEFT JOIN (SELECT 	  F.manage_div
							, F.file_manage_no
							, CONCAT("/",F.manage_div,"/",F.file_src,".",F.file_extension) AS image
				   FROM		tb_file AS F
				   WHERE  	F.manage_div = "CROP"
				   ORDER BY upload_date desc
				   LIMIT 1) AS I
							ON I.file_manage_no = C.crop_no
		WHERE C.member_no = #{member_no}
	</select>
	
	<select id="getCropsWhatIHave" parameterType="int" resultType="map">
		SELECT	  C.crop_no AS cropNo
				, C.crop_nickname As cropNickname
				, C.streaming_addr AS streamingAddr
				, C.member_no AS memberNo
				, C.crop_state AS cropState
				, C.buy_date AS buyDate
				, NVL(C.end_date,"재배중") AS endDate
				, C.created_date AS createdDate
				, C.dict_no AS dictNo
				, C.farm_no AS farmNo
				, F.farm_name AS farmName
				, NVL(I.image,I2.image) AS image
				, D.crop_name AS cropName
				, DATEDIFF(NOW(),C.buy_date) AS dueDate
		FROM tb_crop AS C
		LEFT JOIN tb_farm AS F ON F.farm_no = C.farm_no
		LEFT JOIN tb_crop_dict AS D ON D.crop_dict_no = C.dict_no
		LEFT JOIN (SELECT 	  F.manage_div
							, F.file_manage_no
							, CONCAT("/",F.manage_div,"/",F.file_src,".",F.file_extension) AS image
				   FROM		tb_file AS F
				   WHERE  	F.manage_div = "CROP"
				   GROUP BY F.file_manage_no,F.manage_div
				   ORDER BY upload_date desc) AS I
							ON I.file_manage_no = C.crop_no
		LEFT JOIN (SELECT 	  F.manage_div
							, F.file_manage_no
							, CONCAT("/",F.manage_div,"/",F.file_src,".",F.file_extension) AS image
				   FROM		tb_file AS F
				   WHERE  	F.manage_div = "DICT"
				   GROUP BY F.file_manage_no,F.manage_div
				   ORDER BY upload_date desc) AS I2
							ON I2.file_manage_no = D.dict_no
		WHERE C.member_no = #{member_no}
		AND C.crop_state != 4
		ORDER BY C.crop_state ASC
	</select>
	<select id="getDoneCropsWhatIHave" parameterType="int" resultType="map">
		SELECT	  C.crop_no AS cropNo
				, C.crop_nickname As cropNickname
				, C.streaming_addr AS streamingAddr
				, C.member_no AS memberNo
				, C.crop_state AS cropState
				, C.buy_date AS buyDate
				, NVL(C.end_date,"재배중") AS endDate
				, C.created_date AS createdDate
				, C.dict_no AS dictNo
				, C.farm_no AS farmNo
				, F.farm_name AS farmName
				, NVL(I.image,I2.image) AS image
				, D.crop_name AS cropName
				, DATEDIFF(NOW(),C.buy_date) AS dueDate
		FROM tb_crop AS C
		LEFT JOIN tb_farm AS F ON F.farm_no = C.farm_no
		LEFT JOIN tb_crop_dict AS D ON D.crop_dict_no = C.dict_no
		LEFT JOIN (SELECT 	  F.manage_div
							, F.file_manage_no
							, CONCAT("/",F.manage_div,"/",F.file_src,".",F.file_extension) AS image
				   FROM		tb_file AS F
				   WHERE  	F.manage_div = "CROP"
				   GROUP BY F.file_manage_no,F.manage_div
				   ORDER BY upload_date desc) AS I
							ON I.file_manage_no = C.crop_no
		LEFT JOIN (SELECT 	  F.manage_div
							, F.file_manage_no
							, CONCAT("/",F.manage_div,"/",F.file_src,".",F.file_extension) AS image
				   FROM		tb_file AS F
				   WHERE  	F.manage_div = "DICT"
				   GROUP BY F.file_manage_no,F.manage_div
				   ORDER BY upload_date desc) AS I2
							ON I2.file_manage_no = D.dict_no
		WHERE C.member_no = #{member_no}
		AND C.crop_state = 4
		ORDER BY C.crop_state ASC
	</select>
	

</mapper>